{%extends 'generals/base.html'%}
{% block content %}
<div class="container">
    <div class="row">
        {% if photos %}
        <h2>Observed {{ photos|length }} of searched term {{photo}}</h2>
        {% else %}
        <h2>Observed no photo for the search term{{photo}}</h2>
        {% endif %}
    </div>
    <div class="row">

        {% if photos %}

        <div class="container">
            <div class="card-columns">
                {% for photo in photos%}
                <div class="card">
                    <img src="{{photo.image_url.url}}" class="card-img"><br>
                </div>
                {% endfor %}
            </div>
        </div>

        {% endif %}
    </div>
</div>
{% endblock %}